first-successful/target/META-INF/mule-src/first-successful/src/main/mule/first-successful.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="250e61ea-d6df-41fc-bef3-0752d8579538" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="07b0143b-3fc0-485f-a05d-8aef1007c004" >
		<http:request-connection host="localhost" port="8083" />
	</http:request-config>
	<flow name="first-successfulFlow" doc:id="510014bb-6008-4dd4-aa01-7fa5fb9a2fc8" >
		<http:listener doc:name="Listener" doc:id="d1fc6b60-d18c-4833-a9fd-5aa03039e21d" config-ref="HTTP_Listener_config" path="/f-s"/>
		<first-successful doc:name="First Successful" doc:id="2de04c1f-b13b-410b-87ee-86ed3cdc356a" >
			<route >
				<set-payload value="payloadFirst" doc:name="Set Payload 1" doc:id="d1c1eefd-9722-44e2-ae17-c2efec6b0348" />
				<logger level="INFO" doc:name="Logger" doc:id="0688d786-30c6-47c9-b25e-f523b1164d19" message="#[payload]"/>
				<http:request method="GET" doc:name="Request" doc:id="fdba8fd1-6bb1-482b-8256-f029702638fb" config-ref="HTTP_Request_configuration" path="/test"/>
			</route>
			<route >
				<set-payload value="payloadSecond" doc:name="Set Payload 2" doc:id="7b6d8b9c-86ed-4214-b947-51e9556c77f5" />
				<logger level="INFO" doc:name="Logger" doc:id="655e5b69-811b-470d-9eb5-a6f54067be29" message="#[payload]"/>
			</route>
			<route >
				<set-payload value="payloadThird" doc:name="Set Payload 3" doc:id="a9771ac7-d46b-4d90-9a7e-2c72ecd17ca5" />
				<logger level="INFO" doc:name="Logger" doc:id="2f6e4fa2-6271-4f1a-83fc-dd23d45801f2" message="#[payload]"/>
			</route>
		</first-successful>
		<logger level="INFO" doc:name="Logger" doc:id="b71f82fc-f8a3-4d99-b6a8-cf31372709a7" message="Finished Exec"/>
	</flow>
</mule>
